In [1]:
import sys

In [2]:
sys.version

'3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]'

파이썬 자료형

In [4]:
type('hello')

str

In [5]:
print('hi, everyone')

hi, everyone

In [6]:
a = 2024
print(a)

2024

In [10]:
b = '여러분'
print(b+ ' 안녕하세요ㅎㅎ')

여러분 안녕하세요ㅎㅎ

In [15]:
c = '새해'
print(str(a)+ '년에도'+ c +'복 많이 받으세요ㅎㅎ')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 표준입력

In [16]:
name = input('이름입력 > ')

이름입력 > 박한별

In [17]:
name

'박한별'

In [18]:
name = input('이름을 입력하세요 >')
print(name + '님 안녕하세요?')

이름을 입력하세요 >박한별
박한별님 안녕하세요?

In [19]:
birth = input('출생 연도를 입력하세요')
print(2022- birth, '세 이시군요')

출생 연도를 입력하세요2004

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [23]:
birth = input('출생연도를 입력하세요')
print(2022 - int(birth), '세 이시군요')

출생연도를 입력하세요22222
-20200 세 이시군요

In [22]:
name = input('이름을 입력하세요:')
birth = input('출생연도를 입력하세요:')
age = 2022 - int(birth)
print('안녕하세요 '+ name + '님 ' + str(age) + '세 이시군요')

이름을 입력하세요:star
출생연도를 입력하세요:2004
안녕하세요 star님 18세 이시군요

# 내장함수

In [24]:
abs(-3)

3

In [25]:
bool('py')

True

# 반복문

In [26]:
for i in range(5):
    print(i*2)

0
2
4
6
8

In [27]:
for i in range (1,11):
    print(i, end='')

12345678910

In [28]:
for i in range(1,11, 3):
    print(i)

1
4
7
10

In [29]:
for i in [10,20,30]:
    print(i)

10
20
30

In [35]:
for i in {10:'십' ,20:'이십' ,30:'삼십'}:
    print(i)

10
20
30

In [43]:
data = {10:'십' ,20:'이십' ,30:'삼십'}
for i in data:
    print(data[i])

십
이십
삼십

In [44]:
data[10]

'십'

# 리스트

In [45]:
day = list("월화수목금토일")
day

['월', '화', '수', '목', '금', '토', '일']

In [46]:
day[3]

'목'

In [47]:
day[-4]

'목'

# 슬라이싱

In [48]:
day[1:3]

['화', '수']

In [49]:
day[-4:-1]

['목', '금', '토']

In [50]:
day[-1:-4]

[]

# 코딩

In [52]:
import random

dice = random.randint(1,6)
print(dice)
#1과 6사이의 임의의 정수 반환

6

In [54]:
import math

print(math.sqrt(2))
print(math.sqrt(4))

1.4142135623730951
2.0

In [56]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [57]:
test_score = [80,90,70,100]
for score in test_score:
    print(score)

80
90
70
100

In [59]:
test_name=['국어','영어','수학','과학']
for name in test_name:
    print(name)

국어
영어
수학
과학